html {
  box-sizing: border-box;
  font-family: $font--main;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

// .button-pseudo {
//   @include font(1.2, 17px, 700);
//   @include padding-v(14px, 14px);
//   background-color: transparent;
//   text-align: center;
//   text-transform: uppercase;
// }

// .interactive-element {
//   @include border();
//   color: $gray--dark;
//   display: block;
// }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// @include wrapper();
