// $black: #000000;
// $grey: #cccccc;
// $white: #ffffff;
// $nav-color: #ececec;
// $bg-grey: #f1f1f1;
// $bg-grey--light: #f9f9f9;
// $bg-green--light: #63d1bb;
// $bg-green--darker: #56c3b2;
// $fill--features: #64d1bc;
// $gray--dark: #444444;
// $product-color: #ededed;
// $social-color: #e5e5e5;
// $offer-color: $nav-color;
// $border--nav: $nav-color;
// $placeholder-text: #c7c7c7;
// $menu-svg: #d3d2d2;

// $font--main: "OpenSans", "Arial", sans-serif;

// $font--desctop: 53px;
// $font--tablet: 43px;

$w--desctop: 1150px;
$w--mobile: 320px;
$w--tablet: 768px;

$w--desctop-wrapper: 1050px;
$w--mobile-wrapper: 260px;
$w--tablet-wrapper: 668px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
